<nav class="navbar navbar-danger navbar-expand-lg bg-danger bg-gradient text-white">
    <div class="container-fluid ms-5">
        <a class="navbar-brand text-white" routerLink=""><i class="bi bi-braces"> examen2evalAngular</i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-5 ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link fw-bold text-white" routerLink="candidatos/listado">Candidatos</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fw-bold text-white" routerLink="puestos/listado">Puestos</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link fw-bold text-white" routerLink="entrevistas/listado">Entrevistas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>